
/* 10 : ANNA */


/* FOOTER */
.site-footer .site-info {
	font-size: 10px; letter-spacing: .12em;
	}

/* BLOG SINGLE */
.related-posts h3 {
	position: relative;
	}
.related-posts h3:before {
	font-family: "fontello"; content: '\e821'; font-size: 132px; font-weight: 400; position:  absolute; top: -50%; left: 50%; margin-top: -20px; margin-left: -74px; color: rgba(33, 41, 51, 0.05);
	}
#reply-title {
	text-align: center;
	}
	
/* DESKTOPS */
@media screen and (min-width: 992px) { 

	.sidebar .mc4wp-form {
		background: #fff;
		}
	
	/* BLOCKQUOTE */
	blockquote {
		font-size: 1.6em; padding: 1em;
		}
	blockquote cite {
		 letter-spacing: 1px;
		}
}