
/* 13 : PHIL */


/* HEADER */

.featured-area {
	margin-top: -5px;
	}

.owl-theme .owl-buttons div:hover,
html a.social-link:hover {
	background: #111;
	}
	
/* FOOTER */
.site-footer .site-info {
	text-transform: uppercase; letter-spacing: 4px; font-size: 9px;
	}
.footer-subscribe h3:after {
    position: static; font-size: 24px; margin-top: -16px; margin-left: 10px; margin-right: 0;
	}
.is-footer-subscribe-dark .footer-subscribe h3:after {
	color: #fff;
	}
	
/* FOOTER */
.footer-subscribe h3 {
	text-transform: none !important;
	}

/* BLOG */
.more-link,
.blog-small .more-link {
	padding: 9px 16px;
	}
.more-link,
input[type=submit], input[type=button], button, a.button,
.widget input[type=submit], .widget input[type=button], .widget button, .widget a.button {
	font-size: 10px; border-radius: 18px;
	}
.sidebar .mc4wp-form {
	background: #fff;
	}

/* BLOG SINGLE */
.bypostauthor > article:before {
	font-size: 38px; color: #333;
	}

/* FORMS */
input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]), textarea, select {
	font-size: 12px;
	}

/* TYPO */
blockquote {
	text-transform: uppercase;
	}
blockquote cite {
	letter-spacing: 4px;
	}
blockquote cite:before {
	content: "\2014 "; margin-right: 5px;
	}

/* DESKTOPS */
@media screen and (min-width: 992px) { 
	
	/* BLOG */
	.category-title i {
		margin-bottom: 3px;	letter-spacing: 4px;
		}
	
}

/* DESKTOPS HIGH */
@media screen and (min-width: 1400px) { 
	
	/* BLOG GRID */
	.content-area:not(.with-sidebar) .blog-grid .hentry {
		width: 25%;
		}
	.with-sidebar .blog-grid .hentry {
		width: 33.33%; float: left;
		}
}