
/* 08 : LORI */


/* HEADER */
.is-menu-top.no-featured-area .header-wrap,
.is-header-row.no-featured-area:not(.is-header-dark) .header-wrap,
.is-header-small.no-featured-area:not(.is-header-dark) .header-wrap {
	border-bottom: 1px solid #eee;
	}
.is-menu-bottom .site-header {
	border: 0;
	}
.search-box #search-field {
	text-transform: none !important;
	}
.featured-area {
	margin-top: -5px;
	}
.is-menu-bottom .top-content {
	margin-top: 4em;
	}
.shopping-cart > span {
	background: #fff;
	}

/* FOOTER */
.site-footer .site-info {
	text-transform: uppercase; letter-spacing: 2px; font-size: 10px;
	}

/* DESKTOPS */
@media screen and (min-width: 992px) { 
	
	/* BLOG */
	.category-title i {
		margin-bottom: 8px;	letter-spacing: 4px;
		}

	/* FOOTER */
	.footer-subscribe h3 {
		text-transform: lowercase;
		}
	
}