
/* 12 : ROGER */


/* HEADER */

.featured-area {
	margin-top: -5px;
	}

.owl-theme .owl-buttons div:hover,
html a.social-link:hover {
	background: #111;
	}
	
.is-menu-dark .site-header .social-link,
.is-menu-dark .site-header .shopping-cart,
.is-header-dark:not(.is-menu-bar) .site-header .social-link,
.is-menu-dark .search-box label,
.is-menu-dark .toggle-link, 
.is-header-dark:not(.is-menu-bar) .toggle-link,
.site-info i,
html .site-footer .footer-subscribe h3:after {
	color: #5dffae;
	}

.is-menu-dark .nav-menu > ul > li > a:not(:hover),
.is-menu-dark .site-header .social-link:hover,
.is-header-dark:not(.is-menu-bar) .nav-menu > ul > li > a:not(:hover),
.is-header-dark:not(.is-menu-bar) .site-header .social-link:hover {
	color: #fff;
	}

/* FOOTER */
.site-footer .site-info {
	text-transform: uppercase; letter-spacing: 4px; font-size: 9px;
	}
.footer-subscribe h3:after {
    position: static; font-size: 24px; margin-top: -16px; margin-left: 10px; margin-right: 0;
	}

/* BLOG */
.more-link {
	padding: 12px 16px;
	}
.more-link,
input[type=submit], input[type=button], button, a.button,
.widget input[type=submit], .widget input[type=button], .widget button, .widget a.button {
	font-size: 10px; border-radius: 22px;
	}
.sidebar .mc4wp-form {
	background: #fff;
	}

/* BLOG SINGLE */
.is-comments-boxed-solid .comments-area article {
	background: #fafafa;
	}
.bypostauthor > article:before {
	font-size: 38px; color: #333;
	}

/* FORMS */
input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]), textarea, select {
	font-size: 12px;
	}


/* DESKTOPS */
@media screen and (min-width: 992px) { 
	
	/* BLOG */
	.category-title i {
		margin-bottom: 8px;	letter-spacing: 4px;
		}
	
	/* SIDEBAR */
	.widget_recent_entries ul li,
	.widget_pages ul li, 
	.widget_most_recommended_posts ul li a,
	.tptn_title,
	.widget_categories ul li, 
	.widget_archive ul li, 
	.widget_nav_menu ul li {
		font-size: 15px;
		}

	/* FOOTER */
	.footer-subscribe h3 {
		text-transform: none !important; font-size: 56px;
		}
	
}