
/* 04 : MONA */


/* HEADER */
.is-menu-top.no-featured-area .site-header {
	border-bottom: 1px solid #eee;
	}
.featured-area {
	margin-top: -5px;
	}
.is-menu-dark .site-header .social-link,
.is-header-dark.is-menu-dark .site-header .social-link,
.is-menu-dark .search-box label,
.is-header-dark.is-menu-dark .search-box label {
	color: rgba(255, 234, 174, 0.7);
	}

/* FOOTER */
.site-footer .site-info {
	text-transform: uppercase; letter-spacing: 2px; font-size: 10px;
	}

/* DESKTOPS */
@media screen and (min-width: 992px) { 
	
	/* BLOG */
	.category-title i {
		margin-bottom: 8px;	letter-spacing: 4px;
		}

	/* FOOTER */
	.footer-subscribe h3 {
		text-transform: lowercase;
		}
	
}